<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
   <div class="list-group list-group-flush mx-3 mt-4">
      <a *ngIf="loggedIn"
        href="#"
        class="list-group-item list-group-item-action py-2 ripple active"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
      </a>
      <a *ngIf="loggedIn" routerLink="/planes" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-plane fa-fw me-3"></i><span>Vuelos</span>
      </a>
      <a *ngIf="loggedIn" href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-chart-area fa-fw me-3"></i><span>Hoteles</span></a
      >
      <!--<a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a
      >
      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
      >
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-globe fa-fw me-3"></i><span>International</span></a
      >-->
      <a *ngIf="!loggedIn" routerLink="/login" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-building fa-fw me-3"></i><span>Iniciar Sesion</span></a
      >
      <a *ngIf="!loggedIn" routerLink="/register" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-calendar fa-fw me-3"></i><span>Registrarse</span></a
      >
      <a *ngIf="loggedIn" (click)="logout()" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-lock fa-fw me-3"></i><span>Cerrar Sesión</span></a
      >
    </div>
  </div>
</nav>
